#szamologep {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}

#kimenet {
    width: 100%;
    margin-bottom: 10px;
    padding: 4px;
    font-size: 20px;
}

#bemenet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

h1{
    text-align: center;
    color: orange;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: orange;
    color: white;
}
